@media only screen {
  [class*="uikit-block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -15px !important;
    *zoom: 1;
    *-moz-box-sizing: border-box;
    *-webkit-box-sizing: border-box;
    *box-sizing: border-box;

    }
    [class*="uikit-block-grid-"]:before, [class*="uikit-block-grid-"]:after {
      content: " ";
      display: table;
      -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  }
    [class*="uikit-block-grid-"]:after {
      clear: both; }
    [class*="uikit-block-grid-"] > li {
      display: inline;
      height: auto;
      float: left;
      padding: 0 15px 15px;
      margin:0 !important;
      -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
      }

  .small-uikit-block-grid-1 > li {
    width: 100%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-uikit-block-grid-2 > li {
    width: 50%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-uikit-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-uikit-block-grid-4 > li {
    width: 25%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-uikit-block-grid-5 > li {
    width: 20%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-uikit-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-uikit-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-uikit-block-grid-8 > li {
    width: 12.5%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-uikit-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-uikit-block-grid-10 > li {
    width: 10%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-uikit-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-uikit-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 15px 15px !important; }
    .small-uikit-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .small-uikit-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
      
/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: '1024px') {
  /* Remove small grid clearing */
  .small-uikit-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .small-uikit-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .small-uikit-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .small-uikit-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .small-uikit-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .small-uikit-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .small-uikit-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .small-uikit-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .small-uikit-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .small-uikit-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .small-uikit-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .small-uikit-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .large-uikit-block-grid-1 > li {
    width: 100%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-uikit-block-grid-2 > li {
    width: 50%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-uikit-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-uikit-block-grid-4 > li {
    width: 25%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-uikit-block-grid-5 > li {
    width: 20%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-uikit-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-uikit-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-uikit-block-grid-8 > li {
    width: 12.5%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-uikit-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-uikit-block-grid-10 > li {
    width: 10%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-uikit-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-uikit-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 15px 15px !important; }
    .large-uikit-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .large-uikit-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }