.widget_veuse_alert_widget { padding-bottom: 10px; margin-bottom: 0; }

.veuse-progressbar-wrapper {
	
	* { box-sizing: border-box;}
	
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
	
	.veuse-progressbar-title {
	
		text-transform: uppercase;
		font-weight: 400;
	
	 }
	.veuse-progressbar-tooltip { 
		
		position: absolute; 
		top:-4px; 
		margin-left: -18px; 
		width:36px; 
		text-align: center;  
		background: #444; 
		padding:4px 0px; 
		color: #ccc; 
		font-size:11px;
		@include border-radius(2px);
		
		&:after {
			
			position: absolute;	
			content:'';
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 3px solid #444;
			bottom:-3px;
			left:50%;
			margin-left: -3px;

			
		}
	}
	
	.veuse-progressbar {
	
		display: block;
		background: rgba(0,0,0,0.1);
		padding: 0px;
		margin-top:10px;
		margin-bottom:10px;
		@include border-radius(2px);
		
		
		.meter { 
			display:block; 
			background: $blue; 
			height: 10px;
			@include border-radius(2px 0 0 2px);
			
			background-image:
				-webkit-linear-gradient(
				-45deg,
				rgba(255, 255, 255, .1) 25%,
				transparent 25%,
				transparent 50%,
				rgba(255, 255, 255, .1) 50%,
				rgba(255, 255, 255, .1) 75%,
				transparent 75%,
				transparent
			);
			background-image:
				-moz-linear-gradient(
				-45deg,
				rgba(0,0,0, .1) 25%,
				transparent 25%,
				transparent 50%,
				rgba(255, 255, 255, .1) 50%,
				rgba(255, 255, 255, .1) 75%,
				transparent 75%,
				transparent
			);
			background-image:
				-ms-linear-gradient(
				-45deg,
				rgba(255, 255, 255, .1) 25%,
				transparent 25%,
				transparent 50%,
				rgba(255, 255, 255, .1) 50%,
				rgba(255, 255, 255, .1) 75%,
				transparent 75%,
				transparent
			);
			background-image:
				linear-gradient(
				-45deg,
				rgba(255, 255, 255, .1) 25%,
				transparent 25%,
				transparent 50%,
				rgba(255, 255, 255, .1) 50%,
				rgba(255, 255, 255, .1) 75%,
				transparent 75%,
				transparent
			);
			-webkit-background-size:30px 30px;
			-moz-background-size:30px 30px;
			-ms-background-size:30px 30px;
			background-size:30px 30px;
			-webkit-animation:move 2s linear infinite;
			-moz-animation:move 2s linear infinite;
			-ms-animation:move 2s linear infinite;
			animation:move 2s linear infinite;
	
			}
		/*	
		&.orange .meter { background: $orange; }
		&.green .meter { background: $green; }
		&.yellow .meter { background: $yellow; }
		&.lightblue .meter { background: $lightblue; }
		&.silver .meter { background: $silver; }
		&.black .meter { background: $black; }
		&.red .meter { background: $red; }
		&.pink .meter { background: $pink; }
		&.purple .meter { background: $purple; }
		&.magenta .meter { background: $magenta; }
		&.lightgreen .meter { background: $lightgreen; }
		&.forrestgreen .meter { background: $forrestgreen; }
		&.darkblue .meter { background: $darkblue; }
		&.darkbrown .meter { background: $darkbrown; }
		&.brown .meter { background: $brown; }
		&.blue .meter { background: $blue; }
		&.grey .meter { background: $grey; }

		*/	
		
	}
	
	
}

/*
Animate the stripes
*/	
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 30px 30px;
  }
}	
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 30px 30px;
  }
}	
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 30px 30px;
  }
}	
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 30px 30px;
  }
}	


/* Multiprogress */

.veuse-multiprogress-wrapper { 
	
	@include clearfix();
	margin:0 0 20px;
	
	padding-bottom: 2px;
	background: rgba(0,0,0,0.1);

	.veuse-multiprogress {
		
		float: left;
		display: block;
		
		padding:6px 10px 6px 0;
		margin-bottom: 0px;
		position: relative;
		text-align: center;
		
		border-bottom:2px solid #777;
		
		&:hover {border-bottom: 2px solid $yellow;}
		
		&:after {
			
				position: absolute;	
				content:'';
				width: 9px;
				height: 9px;
				bottom:-5px;
				right:50%;
				margin-right:-5px;
				background: #fff;
				border:2px solid #777;
				@include border-radius(50%);
	
				
				}
		
		@media only screen and (max-width:'786px'){
			
			width:100% !important;
		}
		
		.veuse-multiprogress-title {	
			 //color: #fff;
			 font-weight: normal;
			 text-transform: uppercase
			 
			 
			 
			 }
		.veuse-multiprogress-percentage { 
			
			//color: #252525; 
			font-size: 11px;
			float: right;
			position: relative;
			
			
			
		}
		
		

		
	}
}
